Imporing csv file from data set

In [3]:
import pandas as pd
fd=pd.read_csv(r"D:\Machine Learning\Dummy data practice\1. dummy data client wise revenue and expense, receivables and payables\01. financial performance data\Data\1. client wise financial performance data.csv")
print(fd)

     Sr.no  client id            client name        industry    size  month  \
0        1          1         Finance Corp A         Finance  Medium  April
1        2          2         Finance Corp B         Finance   Small  April
2        3          3          Retail Corp C          Retail   Small  April
3        4          4  Transportation Corp D  Transportation   Small  April
4        5          5         Finance Corp E         Finance  Medium  April
..     ...        ...                    ...             ...     ...    ...
175    176         26     Real Estate Corp Z     Real Estate   Small    May
176    177         27      Consulting Corp [      Consulting  Medium    May
177    178         28       Education Corp \       Education  Medium    May
178    179         29       Education Corp ]       Education  Medium    May
179    180         30      Healthcare Corp ^      Healthcare  Medium    May

     year     revenue  operational cost  gross profit  admin expense  \
0    2024   185057.39          96681.90      88375.48       30525.78
1    2024    15595.43           9404.76       6190.66        2771.59
2    2024    86574.82          49801.25      36773.56        9066.14
3    2024    15882.79           8774.69       7108.10        3040.72
4    2024   375710.47         249771.79     125938.68       74244.59
..    ...         ...               ...           ...            ...
175  2024   105063.68          57439.41      47624.27       16978.60
176  2024  1317202.37         853163.18     464039.19      181056.81
177  2024   386135.50         243718.09     142417.41       59685.03
178  2024   227565.88         152519.79      75046.08       40571.71
179  2024   194218.79         130238.80      63979.99       19919.53

     net profit  gross profit ratio  net profit ratio
0      57849.71            0.477557          0.312604
1       3419.07            0.396953          0.219235
2      27707.42            0.424760          0.320040
3       4067.37            0.447535          0.256087
4      51694.09            0.335201          0.137590
..          ...                 ...               ...
175    30645.67            0.453290          0.291687
176   282982.38            0.352291          0.214836
177    82732.38            0.368828          0.214257
178    34474.37            0.329777          0.151492
179    44060.46            0.329422          0.226860

[180 rows x 14 columns]

Calculating gross profit margin ratio

In [ ]:
gross_profit_ratio=fd["gross profit"]/fd["revenue"]
print(gross_profit_ratio)

0      0.477557
1      0.396953
2      0.424760
3      0.447535
4      0.335201
         ...
175    0.453290
176    0.352291
177    0.368828
178    0.329777
179    0.329422
Length: 180, dtype: float64

Calculating net profit margin ratio

In [ ]:
net_profit_ratio=fd["net profit"]/fd["revenue"]
print(net_profit_ratio)

0      0.312604
1      0.219235
2      0.320040
3      0.256087
4      0.137590
         ...
175    0.291687
176    0.214836
177    0.214257
178    0.151492
179    0.226860
Length: 180, dtype: float64

adding gross profit and net profit ratios coloum in main file

In [ ]:
fd["gross profit ratio"]=gross_profit_ratio
fd["net profit ratio"]=net_profit_ratio

In [ ]:
fd.columns

Index(['Sr.no', 'client id', 'client name', 'industry', 'size', 'month',
       'year', 'revenue', 'operational cost', 'gross profit', 'admin expense',
       'net profit', 'gross profit ratio', 'net profit ratio'],
      dtype='object')

Exporting data to a csv file

In [ ]:
fd.to_csv("client wise financial data.02.csv",index=False)

Calculation of Operation cost ratio

In [ ]:
fd_opratio=fd['operational cost']/fd['revenue']
print(fd_opratio)

0      0.522443
1      0.603046
2      0.575239
3      0.552465
4      0.664799
         ...
175    0.546710
176    0.647709
177    0.631172
178    0.670223
179    0.670578
Length: 180, dtype: float64

Calculating admin expense ratio

In [ ]:
fd_adminratio=fd["admin expense"]/fd["revenue"]
print(fd_adminratio)

0      0.164953
1      0.177718
2      0.104720
3      0.191447
4      0.197611
         ...
175    0.161603
176    0.137456
177    0.154570
178    0.178286
179    0.102562
Length: 180, dtype: float64

Determining monthly client wise revenue trend

In [ ]:
fd_revenuemonthwise=fd.groupby('month')["revenue"].sum()
print(fd_revenuemonthwise)

month
April       19758025.03
February    19197186.64
January     17501922.85
June        14655906.43
March       19650251.13
May         19744370.56
Name: revenue, dtype: float64

In [ ]:
fd_client_wise_monthly_trend=fd.groupby(["month","client name"])["revenue"].sum().reset_index()
print(fd_client_wise_monthly_trend)

     month            client name     revenue
0    April    Construction Corp F   527434.22
1    April    Construction Corp I   235457.68
2    April      Consulting Corp U   701007.58
3    April      Consulting Corp [   463098.42
4    April       Education Corp G   389976.63
..     ...                    ...         ...
175    May          Retail Corp C   104166.52
176    May          Retail Corp T  1787390.99
177    May      Technology Corp W   332983.59
178    May  Transportation Corp D    18316.44
179    May  Transportation Corp L   234380.75

[180 rows x 3 columns]

Determining Client wise monthly net profit trend

In [ ]:
fd_client_wise_monthly_nptrend=fd.groupby(["month","client name"])["net profit"].sum().reset_index()
print(fd_client_wise_monthly_nptrend)

     month            client name  net profit
0    April    Construction Corp F    76752.82
1    April    Construction Corp I    35728.37
2    April      Consulting Corp U   -11925.53
3    April      Consulting Corp [   115979.71
4    April       Education Corp G    62641.51
..     ...                    ...         ...
175    May          Retail Corp C    41333.52
176    May          Retail Corp T   158259.24
177    May      Technology Corp W    88126.91
178    May  Transportation Corp D     4674.62
179    May  Transportation Corp L    55433.20

[180 rows x 3 columns]

Determining month wise average net profit ratio

In [ ]:
fd_best_np_trend=fd.groupby("month")["net profit ratio"].mean().reset_index()
print(fd_best_np_trend)

      month  net profit ratio
0     April          0.215867
1  February          0.249559
2   January          0.243493
3      June          0.212265
4     March          0.252480
5       May          0.240729

In [ ]:
fd.describe()

,Sr.no,client id,year,revenue,operational cost,gross profit,admin expense,net profit,gross profit ratio,net profit ratio
count,180.000000,180.000000,180.0,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,180.000000,180.000000
mean,90.500000,15.500000,2024.0,6.139315e+05,3.746137e+05,2.393178e+05,9.649313e+04,1.428246e+05,0.392239,0.235732
std,52.105662,8.679585,0.0,9.681829e+05,6.067081e+05,3.736515e+05,1.595636e+05,2.300784e+05,0.077894,0.090888
min,1.000000,1.000000,2024.0,1.559543e+04,8.774690e+03,3.011340e+03,2.192820e+03,-8.857936e+04,0.036225,-0.139139
25%,45.750000,8.000000,2024.0,1.502191e+05,8.341561e+04,6.034737e+04,2.102946e+04,3.201561e+04,0.351816,0.190622
50%,90.500000,15.500000,2024.0,3.282521e+05,2.077167e+05,1.146611e+05,4.964411e+04,6.396716e+04,0.397253,0.249975
75%,135.250000,23.000000,2024.0,6.235795e+05,3.651604e+05,2.499645e+05,9.028853e+04,1.572832e+05,0.450490,0.295883
max,180.000000,30.000000,2024.0,6.761919e+06,4.646957e+06,2.791943e+06,1.270992e+06,1.924434e+06,0.498867,0.396802

In [4]:
fd.max()

Sr.no                                   180
client id                                30
client name           Transportation Corp L
industry                     Transportation
size                                  Small
month                                   May
year                                   2024
revenue                          6761918.96
operational cost                 4646956.83
gross profit                     2791943.17
admin expense                    1270991.91
net profit                       1924433.95
gross profit ratio                 0.498867
net profit ratio                   0.396802
dtype: object